<ion-content [fullscreen]="true">
  <div class="flex-content" >
    <img 
      *ngIf="screen==1"
      id="photo-fullscreen" 
      (click)="nextScreen()" 
      src="/assets/images/report_screen.jpeg">
    <div *ngIf="screen==2" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">Flame Color?</p>
        </div>
      </div>
      <div class="row">
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_amarillo.png">
          </a>
        </div>
        <div class="column-5">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_naranja.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-5">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_rojo.png">
          </a>
        </div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_nofire.png">
          </a>
        </div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_blanco.png">
          </a>
        </div>
        <div class="column-5">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_verde.png">
          </a>
        </div>
        <div class="column-5">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_azul.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
      </div>
    </div>
    <div *ngIf="screen==3" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">Smoke Color?</p>
        </div>
      </div>
      <div class="row">
        <div class="column-10">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_amarillo.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_naranja.png">
          </a>
        </div>
        <div class="column-10">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-35">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_nofire.png">
          </a>
        </div>
        <div class="column-35">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-10">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_verde.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickButton(1)" class="nextButton">
            <img src="/assets/images/boton_azul.png">
          </a>
        </div>
        <div class="column-10">&nbsp;</div>
      </div>
    </div>
    <div *ngIf="screen==4 && isCameraExist">
      <div class="camera">
          <webcam [height]="560" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
          <div class="btn-group">
              <button class="button" (click)="takeSnapshot()">
                <ion-icon name="camera"></ion-icon>
              </button>
          </div> 
      </div>
  
      <div *ngIf="errors.length > 0">
          <h4>Error Messages:</h4>
          <ul *ngFor="let error of errors">
              <li>{{ error | json }}</li>
          </ul>
      </div>
    </div>
    <div *ngIf="screen==5" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">
            <ion-spinner></ion-spinner>
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="screen==6" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">Gracias!!</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
