<ion-content [fullscreen]="true">
  <div class="flex-content" >
    <div *ngIf="screen==1" class="flex-content">
      <div class="row" (click)="nextScreen()" >
        <div class="column-100 report-fire">
          <img 
            id="photo-fullscreen" 
            src="/assets/images/report_fire.png">
          <p class="titulo centered">Report Fire</p>
        </div>
      </div>
    </div>
    <div *ngIf="screen==2" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">Flame Color?</p>
        </div>
      </div>
      <div class="row">
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickFireButton('yellow')" class="nextButton">
            <img src="/assets/images/fire_yellow.png">
          </a>
        </div>
        <div class="column-5">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickFireButton('orange')" class="nextButton">
            <img src="/assets/images/fire_orange.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-5">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickFireButton('red')" class="nextButton">
            <img src="/assets/images/fire_red.png">
          </a>
        </div>
        <div class="column-30">
          <a (click)="clickFireButton('nofire')" class="nextButton">
            <img src="/assets/images/fire_nofire.png">
          </a>
        </div>
        <div class="column-30">
          <a (click)="clickFireButton('white')" class="nextButton">
            <img src="/assets/images/fire_white.png">
          </a>
        </div>
        <div class="column-5">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickFireButton('green')" class="nextButton">
            <img src="/assets/images/fire_green.png">
          </a>
        </div>
        <div class="column-5">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickFireButton('blue')" class="nextButton">
            <img src="/assets/images/fire_blue.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
      </div>
    </div>
    <div *ngIf="screen==3" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">Smoke Color?</p>
        </div>
      </div>
      <div class="row">
        <div class="column-10">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickSmokeButton('white')" class="nextButton">
            <img src="/assets/images/smoke_white.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickSmokeButton('yellow')" class="nextButton">
            <img src="/assets/images/smoke_yellow.png">
          </a>
        </div>
        <div class="column-10">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-35">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickSmokeButton('nosmoke')" class="nextButton">
            <img src="/assets/images/smoke_nosmoke.png">
          </a>
        </div>
        <div class="column-35">&nbsp;</div>
      </div>
      <div class="row">
        <div class="column-10">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickSmokeButton('grey')" class="nextButton">
            <img src="/assets/images/smoke_grey.png">
          </a>
        </div>
        <div class="column-20">&nbsp;</div>
        <div class="column-30">
          <a (click)="clickSmokeButton('black')" class="nextButton">
            <img src="/assets/images/smoke_black.png">
          </a>
        </div>
        <div class="column-10">&nbsp;</div>
      </div>
    </div>
    <div *ngIf="screen==4 && isCameraExist">
      <div class="camera">
          <webcam [height]="560" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
          <div class="btn-group">
              <button class="button" (click)="takeSnapshot()">
                <ion-icon name="camera"></ion-icon>
              </button>
          </div> 
      </div>
  
      <div *ngIf="errors.length > 0">
          <h4>Error Messages:</h4>
          <ul *ngFor="let error of errors">
              <li>{{ error | json }}</li>
          </ul>
      </div>
    </div>
    <div *ngIf="screen==5" class="flex-content">
      <div class="row">
        <div class="column-100">
          <p class="titulo">
            <ion-spinner></ion-spinner>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
