<ion-content [fullscreen]="true">
  <div class="flex-content" >
    <img 
      *ngIf="screen==1"
      id="photo-fullscreen" 
      (click)="nextScreen()" 
      src="/assets/images/report_screen.jpeg">
    <img 
      *ngIf="screen==2"
      id="photo-fullscreen" 
      (click)="nextScreen()" 
      src="/assets/images/fire_screen.jpeg">
    <img 
      *ngIf="screen==3"
      id="photo-fullscreen" 
      (click)="nextScreen()" 
      src="/assets/images/smoke_screen.jpeg">
    <div *ngIf="screen==4 && isCameraExist">
      <div style="text-align:center">
          <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
          <div class="btn-group">
              <button class="button" (click)="takeSnapshot()">
                <ion-icon name="camera"></ion-icon>
              </button>
          </div> 
      </div>
  
      <div *ngIf="errors.length > 0">
          <h4>Error Messages:</h4>
          <ul *ngFor="let error of errors">
              <li>{{ error | json }}</li>
          </ul>
      </div>
    </div>
    <img 
      *ngIf="screen==5"
      id="photo-fullscreen" 
      src="/assets/images/smoke_screen.jpeg">
    <img 
      *ngIf="screen==6"
      id="photo-fullscreen" 
      (click)="nextScreen()" 
      src="/assets/images/smoke_screen.jpeg">
  </div>
</ion-content>
